<!-- templates/crear_variable.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Crear Nueva Variable</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
        {{ form.nombre.label }}<br>
        {{ form.nombre(size=20) }}
    </p>
    <p>
        {{ form.descripcion.label }}<br>
        {{ form.descripcion(size=20) }}
    </p>
    <p>
        {{ form.minimo.label }}<br>
        {{ form.minimo(size=20) }}
    </p>
    <p>
        {{ form.maximo.label }}<br>
        {{ form.maximo(size=20) }}
    </p>
    <p>
        {{ form.step.label }}<br>
        {{ form.step(size=20) }}
    </p>
    <p>
        {{ form.rango_optimo.label }}<br>
        {{ form.rango_optimo(size=20) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
